<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itsource.org.mapper.EmployeeMapper">

    <!--根据登录信息获取员工-->
    <select id="findByloginInfoId" resultType="cn.itsource.org.domain.Employee">
        SELECT * FROM t_employee WHERE logininfo_id=#{id}
    </select>

    <!--//添加-->
    <!--void add(T t);-->
    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_employee (username, email, phone, salt, password, age, state, department_id,logininfo_id,shop_id) VALUES (
        #{username},
        #{email},
        #{phone},
        #{salt},
        #{password},
        #{age},
        #{state},
        #{department.id},
        #{logininfo.id},
        #{shop.id}
        )
    </insert>


    <!--//查询全部经理-->
    <!--List<Employee> findAll();-->
    <select id="findAll" resultType="cn.itsource.org.domain.Employee">
        SELECT * FROM t_employee
    </select>
</mapper>