<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itsource.user.mapper.UserMapper">
    <!--//更具openid查询用户-->
    <!--Wxuser findByOpenid(String openid);-->

    <!--添加-->
    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
      INSERT INTO t_wxuser(openid, nickname, sex, address, headimgurl, logininfo_id) VALUES (
        #{openid},
        #{nickname},
        #{sex},
        #{address},
        #{headimgurl},
        #{loginInfo.id}
      )

    </insert>



</mapper>